@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-bottom: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 425px;
  width: 425px;
  max-height: 400px;
  margin-bottom: 14px;
  color: hsl(var(--n))
}

button {
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  cursor: pointer;
}

/* Header */
h3 {
  width: 350px;
  font-family: 'Press Start 2P', cursive;
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
  text-shadow: 1px 1px 2px hsl(var(--p)), 0 0 .6em hsl(var(--pc));
}

.font-btn {
  border: 2px solid hsl(var(--p));
  border-radius: 8px;
  background: transparent;
  color: hsl(var(--p));
}

.options {
  width: 375px;
  max-width: 375px;
}

#random {
  height: 32px;
  padding: 1rem;
  border: 2px solid hsl(var(--p));
  border-radius: 8px;
  background: transparent;
  color: hsl(var(--p));
}

#random:hover, .font-btn:hover {
  background: hsl(var(--p));
  color: white;
}

.sm-font {
  font-size: 12px;
}

.lg-font {
  font-size: 20px;
}

/* Tabs List */
.myTabs {
  width: 375px;
  max-width: 375px;
}

.window {
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
}

.window:last-child {
  border: none;
}

.tab-li {
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
}

.tab-li:last-child {
  border: none;
}

.tab-li li:hover {
  cursor: pointer;
  background-color: hsl(var(--s));
  border-radius: 8px;
}

.tab-li:hover span {
  width: 40px;
  opacity: 1;
}


.delete-btn {
  border-radius: 3px;
}

.is-selected span { 
  width: 40px; 
  opacity: 1;
}

.select-btn { 
  position: relative; 
  margin-left: 3px;
  margin-right: 1px;
}

span.delete-btn { 
  background: #e74e3c;
}

span {
  color: white;
  width: 0;
  transition: 0.2s linear;
  opacity: 0;
}

span:hover {
  cursor: pointer;
}

.active {
  background-color: hsl(var(--pf));
  border: .5px solid hsl(var(--pf));
  box-shadow: 0px 0px 5px 3px hsl(var(--pf));
  border-radius: 8px;
  color: hsl(var(--n));
}

.delete {
  animation: fadeOut ease .4s;
  -webkit-animation: fadeOut ease .4s;
  -moz-animation: fadeOut ease .4s;
  -o-animation: fadeOut ease .4s;
  -ms-animation: fadeOut ease .4s;
}

.window-btn { 
  position: relative; 
  margin-top: -4px;
  padding: 10px 10px 10px 10px;
}

.window-btn-unselected:hover { 
  border: .5px solid hsl(var(--pf));
  border-radius: 8px;
}

.window-btn-selected { 
  border: .5px solid hsl(var(--pf));
  box-shadow: 0px 0px 5px 3px hsl(var(--pf));
  border-radius: 8px;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

