* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-bottom: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 400px;
  width: 400px;
  max-height: 400px;
  margin-bottom: 14px;
}

button {
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  cursor: pointer;
}


/* Header */
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin: auto;
  margin-top: 14px;
  padding: 20px;
  width: 350px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
  text-shadow: 1px 1px 5px rgba(195, 0, 255, 0.6);
  line-height: 2.5rem;
}

.font-btn {
  height: 32px;
  width: 32px;
  border: 2px solid rgb(195, 0, 255);
  border-radius: 8px;
  background: transparent;
  color: rgb(195, 0 , 255);
  font-weight: 500;
}

.sm-font {
  font-size: 12px;
}

.lg-font {
  font-size: 20px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px auto;
  width: 350px;
  max-width: 350px;
  box-sizing: border-box;
  padding: 4px 14px;
}

#options-left, #options-right {
  display: flex;
  align-items: center;
}

#random {
  height: 32px;
  padding: 1rem;
  border: 2px solid rgb(195, 0, 255);
  border-radius: 8px;
  background: transparent;
  color: rgb(195, 0 , 255);
}

#random:hover, .font-btn:hover {
  background: rgb(195, 0, 255);
  color: white;
}

.sm {
  font-size: 14px;
  font-weight: 500;
}


/* Tabs List */
.myTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 350px;
  max-width: 350px;
  box-sizing: border-box;
  padding: 8px 0px;
}

ul#tabs {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  margin: 4px;
  padding: 4px;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  cursor: pointer;
  padding: 4px;
  padding-left: 10px;
}

.tab {
  display: flex;
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
  width: 100%;
}

.tab:last-child {
  border: none;
}

span {
  background: #e74e3c;
  height: 40px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
  margin: auto;
}

span:hover {
  cursor: pointer;
}

i {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.tab li:hover {
  cursor: pointer;
  background-color: rgba(115, 193, 253, 0.2);
  border-radius: 8px;
}

.tab:hover span {
  width: 40px;
  opacity: 1;
}

.active {
  background-color: rgba(195, 0, 255, 0.2);
  border: .5px solid rgba(195, 0, 255, 0.2);
  box-shadow: 0px 0px 5px 3px rgba(195, 0, 255, 0.2);
  border-radius: 8px;
  color: black;
}

.delete {
  animation: fadeOut ease .4s;
  -webkit-animation: fadeOut ease .4s;
  -moz-animation: fadeOut ease .4s;
  -o-animation: fadeOut ease .4s;
  -ms-animation: fadeOut ease .4s;
}

.delete-btn {
  border-radius: 3px;
}

.window {
  display: flex;
  width: 100%;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

