@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-bottom: 14px;
}

body {
  max-height: 400px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 14px;
  color: hsl(var(--n))
}

button {
  font-family: 'Poppins', sans-serif;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

button:hover{
  cursor: pointer;
}

.sm-window {
  max-width: 425px;
  width: 425px;
}

.lg-window {
  max-width: 550px;
  width: 550px;
}

/* Header */
h3 {
  width: calc(100% - 75px);
  max-width: 400px;
  font-family: 'Press Start 2P', cursive;
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
  text-shadow: 1px 1px 2px hsl(var(--p)), 0 0 .6em hsl(var(--pc));
}

.options {
  width: calc(100% - 50px);
  max-width: 475px;
}

.font-btn {
  border: 2px solid hsl(var(--p));
  border-radius: 8px;
  background: transparent;
  color: hsl(var(--p));
}

.sm-font {
  font-size: 12px;
}

.lg-font {
  font-size: 20px;
}

/* Tabs List */
.myTabs {
  width: calc(100% - 50px);
  max-width: calc(100% - 50px);
}

.window, .tab-li {
  border-bottom: .3px solid rgba(98, 98, 98, 0.6);
}

.window:last-child, .tab-li:last-child {
  border: none;
}

.tab-li li {
  overflow-wrap: anywhere;
  margin-left: 2px;
}

.tab-li li:hover {
  cursor: pointer;
  background-color: hsl(var(--s));
  border-radius: 8px;
}

.delete-btn {
  border-radius: 3px;
}

.select-btn { 
  position: relative; 
  margin-left: 3px;
  margin-right: 2px;
}

.checkbox:hover {
  box-shadow:  0 0 5px 10px hsl(var(--s));
  background-color: hsl(var(--s));
}

.active {
  background-color: hsl(var(--pf));
  border: .5px solid hsl(var(--pf));
  box-shadow: 0px 0px 4px 3px hsl(var(--pf));
  border-radius: 8px;
  color: hsl(var(--n));
}

.active li {
  margin-left: 10px !important;
}

.delete {
  animation: fadeOut ease .4s;
  -webkit-animation: fadeOut ease .4s;
  -moz-animation: fadeOut ease .4s;
  -o-animation: fadeOut ease .4s;
  -ms-animation: fadeOut ease .4s;
}

.window-btn { 
  position: relative; 
  margin-top: -4px;
  padding: 10px 10px 10px 10px;
}

.window-btn-unselected:hover { 
  border: .5px solid hsl(var(--pf));
  border-radius: 8px;
}

.window-btn-selected { 
  border: .5px solid hsl(var(--pf));
  box-shadow: 0px 0px 5px 3px hsl(var(--pf));
  border-radius: 8px;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

